In [1]:
import pandas as pd

In [2]:
#creating the dataframe
series = pd.Series(['abcd', 'efgh', 'ijklmnop', 'abcd', 'efgh', 'ijklmnop','abcd', 'efgh', 'ijklmnop']) # S is capital
df = pd.DataFrame({"column1": series, "column2": series})
df

    column1   column2
0      abcd      abcd
1      efgh      efgh
2  ijklmnop  ijklmnop
3      abcd      abcd
4      efgh      efgh
5  ijklmnop  ijklmnop
6      abcd      abcd
7      efgh      efgh
8  ijklmnop  ijklmnop

In [3]:
#write this dataframe into a csv file
df.to_csv("example_file.csv", index=False) #index=False helps to avoid creating an index in a saved csv