In [1]:
import pandas as pd

In [2]:
#working with series
series = pd.Series(['abcd', 'efgh', 'ijklmnop']) # S is capital
series

0        abcd
1        efgh
2    ijklmnop
dtype: object

In [3]:
#working with series
series = pd.Series(['abcd', 'efgh', 'ijklmnop']) # S is capital

#working with dataframes
df = pd.DataFrame({"column1": series, "column2": series})
df

#used the series to create a dataframe

    column1   column2
0      abcd      abcd
1      efgh      efgh
2  ijklmnop  ijklmnop